node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env.local
.env.development
Dockerfile
.dockerignore
docker-compose.yml
*.log
.gitlab-ci.yml
.gitlab
.github
.vscode
.idea
*.md
*.test.js
*.spec.js
cypress
coverage
.nyc_output